@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="page-container">
	@Html.ActionLink("Events verwalten", "Index", "Events")<br/>
	@Html.ActionLink("Schulen verwalten", "Index", "School")<br/>
	@Html.ActionLink("User verwalten", "Index", "User")<br/>
	@Html.ActionLink("Lernhilfen ansehen", "Index", "Coaching")<br/>
	@Html.ActionLink("Fächer verwalten", "Index", "Subject")
</div>
