@using Talentify.ORM.DAL.Models.Notification
@model IEnumerable<Talentify.ORM.FrontendLogic.Models.NotificationListItem>

@if (Model != null)
{
	foreach (var item in Model)
	 {
		 var style = string.Empty;
		 var bonus = string.Empty;

		 if (item.IconType == NotificationIconType.Confirmed)
		 {
			 style = "background-image: url(/Images/icon-zusagen.png);";
		 }

		 if (item.IconType == NotificationIconType.Cancelled)
		 {
			 style = "background-image: url(/Images/icon-absagen.png);";
		 }

		 if (item.Bonus != 0)
		 {
			 bonus = string.Format("<span class='bonus'>{0}{1}</span>", item.Bonus > 0 ? "+" : string.Empty, item.Bonus);
		 }

		 <div class="item" onclick=" location.href = '@item.Link' " style="@style">
			 <a href="@item.Link" class="image-link" style="background: url('@item.Image');"></a>
			 <div class="text">
				 @if (item.Bonus != 0)
				 {
					 <span class="system">@Html.Raw(item.Text)</span>
				 }
				 else
				 {
					 @Html.Raw(item.Text)
				 }
			 </div>
			 @Html.Raw(bonus)
		 </div>
	 }
}