@model IEnumerable<Talentify.ORM.FrontendLogic.Models.SearchResultItem>

@foreach (var i in Model)
{
	<article>
		<a href="/Profile/Index/@i.Id" class="image-link" style="background: url('@i.Image');"></a>
		<h3><a href="/Profile/Index/@i.Id">@i.Name</a></h3>
		<p>@i.Address<br/>@i.School</p>
		<p class="comments">"@(@i.Comments)"</p>
	</article>
}