@model IEnumerable<Talentify.ORM.FrontendLogic.Models.SearchResultItem>

@if (Model.Any())
{
	foreach (var i in Model)
	{
		<article class="filterable-search-result" onclick="location.href='/Profile/Index/@i.Id'" data-school-value="@i.SchoolId" data-city-value="@i.City.ToLower()">
			<a href="/Profile/Index/@i.Id" class="image-link" style="background: url('@i.Image');"></a>
			<h3><a href="/Profile/Index/@i.Id">@i.Name</a></h3>
			<p>@i.Address<br/>@i.School</p>
			@if (!string.IsNullOrEmpty(i.Comments))
			{
				<p class="comments">"@(@i.Comments)"</p>
			}
		</article>
	}
	
	<p style="text-align: center;" id="no-filter-results">Leider gibt es zu deiner Schnell-Filter Einstellung keine passenden Treffer.</p>
}
else
{
	<p style="text-align: center;">Leider gibt es derzeit keine passenden Treffer zu deiner Suche.</p>
}