@using System.Configuration
@using System.Globalization
@model IEnumerable<Talentify.ORM.DAL.Models.User.Student>

@{
    ViewBag.Title = "AusweisList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="page-container" style="text-align: left;">
	<h2>Schülerausweise zur Kontrolle</h2>
	@using (Html.BeginForm("AusweisList", "User", FormMethod.Post, new {enctype = "multipart/form-data"}))
	{
		<table>
			<tr>
				<th>Name</th>
				<th>E-Mail</th>
				<th>Registriert am</th>
				<th>Ausweisbild</th>
				<th>Schule</th>
				<th>Entsperren</th>
			</tr>
			@foreach (var student in Model)
			{
				<tr>
					<td>@student.Firstname @student.Surname</td>
					<td><a href="mailto:@student.Email">@student.Email</a></td>
					<td>@student.JoinedDate.ToString("g", new CultureInfo("de"))</td>
					<td>
						@if (student.AusweisExtension == ".pdf")
						{
							<a href="@ConfigurationManager.AppSettings["Portal.Upload.Url"]ausweis/@(@student.AusweisGuid.ToString())@(@student.AusweisExtension)" target="_blank">PDF</a>
						}
						else
						{
							<img src="@ConfigurationManager.AppSettings["Portal.Upload.Url"]ausweis/@(@student.AusweisGuid.ToString())_optimiert@(@student.AusweisExtension)" style="width:300px;"/>	
						}
					</td>
					<td>
						@if (student.School != null)
						{
							@student.School.Name
						}
					</td>
					<td>
						<input type="hidden" name="ids" value="@student.Id" />
						<select name="unblock" id="unblock_@student.Id">
							<option value="False">Gesperrt lassen</option>
							<option value="True">Freischalten</option>
						</select>
					</td>
				</tr>
			}
		</table>
		<input type="submit" value="Speichern" style="display: inline-block; margin: 10px;"/>
	}
	
	<p>@Html.ActionLink("zurück", "Index", "User")</p>

</div>
