@using System.Globalization
@model IEnumerable<Telentify.Admin.Models.StudentWithCoachingOffers>

@{
    ViewBag.Title = "CoachList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="page-container" style="text-align: left;">
	<h2>Nicht bestätigte Registrierungen</h2>
	
	<table>
		<tr>
			<th>Name</th>
			<th>E-Mail</th>
			<th>Registriert am</th>
			<th>&nbsp;</th>
			<th>&nbsp;</th>
		</tr>
		@foreach (var s in Model)
		{
			<tr>
				<td>@s.Student.Firstname @s.Student.Surname</td>
				<td><a href="mailto:@s.Student.Email">@s.Student.Email</a></td>
				<td>@s.Student.JoinedDate.ToString("g", new CultureInfo("de"))</td>
				<td><a href="http://www.talentify.me/Profile/Index/@s.Student.Id" target="_blank">Profil</a></td>
				<td style="font-size:16px;">
					@foreach (var o in s.CoachingOffers)
					{
						@o.SubjectCategory.Name <text>&nbsp;</text> @o.FromClass <text>-</text> @o.ToClass<br/>
					}
				</td>
			</tr>
		}
	</table>
	
	<p>@Html.ActionLink("zurück", "Index", "User")</p>

</div>
