@using System.Globalization
@model IEnumerable<Talentify.ORM.DAL.Models.User.Student>

@{
    ViewBag.Title = "ConfirmedList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="page-container" style="text-align: left;">
	<h2>Bestätigte Registrierungen</h2>
	
	<table>
		<tr>
			<th>Name</th>
			<th>E-Mail</th>
			<th>Bietet Lernhilfe an</th>
			<th>Registriert am</th>
			<th>&nbsp;</th>
		</tr>
		@foreach (var student in Model)
		{
			<tr>
				<td>@student.Firstname @student.Surname</td>
				<td><a href="mailto:@student.Email">@student.Email</a></td>
				<td>@student.IsCoachingEnabled</td>
				<td>@student.JoinedDate.ToString("g", new CultureInfo("de"))</td>
				<td><a href="http://www.talentify.me/Profile/Index/@student.Id" target="_blank">Profil</a></td>
			</tr>
		}
	</table>
	
	<p>@Html.ActionLink("zurück", "Index", "User")</p>

</div>
