@inherits Talentify.ORM.Mvc.FormView<Talentify.ORM.DAL.Models.User.Teacher>

@{
    ViewBag.Title = "Teacher";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section CustomCss 
{
	<link rel="stylesheet" href="/Scripts/Textboxlist/TextboxList.css" />
	<link rel="stylesheet" href="/Scripts/Textboxlist/TextboxList.Autocomplete.css" />
}

@section CustomJavascript 
{
	<script src="/Scripts/jquery.browser.min.js"></script>
	<script src="/Scripts/Textboxlist/GrowingInput.js"></script>
	<script src="/Scripts/Textboxlist/TextboxList.js"></script>
	<script src="/Scripts/Textboxlist/TextboxList.Autocomplete.js"></script>
}

<script>
	$(function ()
	{
		var tagging = new $.TextboxList('#subjects_input', { unique: true, plugins: { autocomplete: {onlyFromValues: true} } });
		tagging.getContainer().addClass('textboxlist-loading');
		$.ajax({
			url: '/FormHelper/SubjectCategoryTags', dataType: 'json', success: function (r)
			{
				tagging.plugins['autocomplete'].setValues(r);
				tagging.getContainer().removeClass('textboxlist-loading');
			}
		});
	});

	function loadAgb()
	{
		$('#agb-frame').attr('src', '/Register/Agb');
		$('#modal-agb').modal('show');
	}
</script>

<div id="page-container" class="form">
	<section id="register">
		<header>
			<div class="sprite t-button desktop"></div>
			<h2>Anmelden zum Lerncoach</h2>
			<p>
				Als Lerncoach stehen Sie SchülerInnen die Lernhilfe geben als AnsprechpartnerIn zur Verfügung und können diese somit aktiv unterstützen ihren jüngeren MitschülerInnen erfolgreich zu helfen.
			</p>
		</header>
		<article class="msg-container" id="msg-container">
			<div id="msg-error" class="msg error"><h2>Anmeldung fehlgeschlagen</h2><p></p></div>
			<div id="msg-success" class="msg success"><h2>Anmeldung erfolgreich</h2><p>Ein Bestätigungs E-Mail wurde versendet.</p></div>
		</article>
		@if (FormSuccess == null)
		{
			using (Html.BeginForm("Teacher", "Register", FormMethod.Post, new {@class = "form-container register"}))
			{
				<article id="register-form">
					<div class="field-container">
						@Html.TextBoxFor(m => m.Firstname, new {@placeholder = "Vorname", @class = "mandatory"})
						@Html.TextBoxFor(m => m.Surname, new {@placeholder = "Nachname", @class = "mandatory"})
					</div>
					<div class="field-container">
						@Html.TextBoxFor(m => m.Email, new {@placeholder = "E-Mail Adresse", @class = "mandatory"})
						@Html.TextBoxFor(m => m.Phone, new {@placeholder = "Telefon"})
					</div>
					<div class="field-container" style="margin:0 0 10px 0;">
						@Html.DropDownListFor(model => model.SchoolId, AllSchools, "wähle deine Schule", new { @class = "mandatory" })
					</div>
					<div class="field-container">
						<label>Fächer auswählen</label>
						<input type="text" name="CoachingSubjects" value="" id="subjects_input" />
					</div>
					<div class="field-container">
						<p>Ich bestätige, die <a href="javascript:void(0);" onclick="loadAgb()">AGB</a> gelesen zu haben und aktzeptiere diese.</p>
					</div>
					<div class="field-container desktop">
						<input type="submit" value="Absenden" onclick=" return validateTeacherRegisterForm(); "/>
					</div>
				</article>
			}

			<div class="modal fade" id="modal-agb" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" style="display:none;">
			  <div class="modal-dialog">
				<header>
					<h1>AGB<a href="javascript:void(0);" onclick="$('#modal-agb').modal('hide');" class="close-link"></a></h1>
				</header>
				<iframe id="agb-frame" width="600" height="200" scrolling="no"></iframe>
			  </div>
			</div>
		}
	</section>
</div>