@inherits Talentify.ORM.Mvc.FormView<Talentify.ORM.DAL.Models.User.Student>

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script>
	$(this).ready(function ()
	{
		setClassDropdown('SchoolId', 'Class', @Model.Class);

		$('#SchoolId').change(function()
		{
			setClassDropdown('SchoolId', 'Class', 0);
		});

		@if (!string.IsNullOrEmpty(Model.Gender))
		{
			<text>$('#Gender').val('@Model.Gender');</text>
		}

		@if (!string.IsNullOrEmpty(Model.Country) && Model.Country.Length == 2)
		{
			<text>$('#Country').val('@Model.Country');</text>
		}
	});
</script>

<div id="page-container" class="form">
	<section>
		<article>
			<header>
				<div class="sprite t-button desktop"></div>
				<h2>Deine Daten</h2>
			</header>
		</article>
		<article class="msg-container" id="msg-container">
			<div id="msg-error" class="msg error"><h2>Fehler beim Speichern</h2><p></p></div>
			<div id="msg-success" class="msg success">
				<h2>Dein Profil wurde erfolgreich aktualisiert.</h2>
				<p>@Html.ActionLink("Hier", "Index", "Profile") geht's zu deinem aktualisierten Profil.</p>
			</div>
		</article>
		@if (FormSuccess == null)
		{
			using (Html.BeginForm("Edit", "Profile", FormMethod.Post, new {@class = "form-container register"}))
			{
				@Html.HiddenFor(m => m.Id)
				@Html.HiddenFor(m => m.SettingsId)
				<article id="profile-form">
					<div class="field-container">
						@Html.TextBoxFor(m => m.Firstname, new {@placeholder = "Vorname", @class = "mandatory"})
						@Html.TextBoxFor(m => m.Surname, new {@placeholder = "Nachname", @class = "mandatory"})
						@Html.TextBoxFor(m => m.Email, new {@placeholder = "E-Mail Adresse", @class = "mandatory"})
						<select name="Gender" id="Gender" class="border-bottom">
							<option>Geschlecht wählen</option>
							<option value="F">Weiblich</option>
							<option value="M">Männlich</option>
						</select>
						<div class="datepicker">
							<label>Geburtsdatum</label>
							@Html.DatePicker("birthday", false, Model.BirthDate)
						</div>
						
					</div>
					<div class="field-container">
						@Html.TextBoxFor(m => m.Address, new {@placeholder = "Adresse"})
						@Html.TextBoxFor(m => m.ZipCode, new {@placeholder = "PLZ"})
						@Html.TextBoxFor(m => m.City, new {@placeholder = "Ort"})
						<select name="Country" id="Country">
							<option value="">Land auswählen</option>
							<option value="AT">Österreich</option>
						</select>
						@Html.TextBoxFor(m => m.Phone, new {@placeholder = "Telefon (Mobilnummer)"})
					</div>
					<div class="field-container">
						@Html.DropDownListFor(model => model.SchoolId, AllSchools, "wähle deine Schule", new { @class = "mandatory" })
						<select id="Class" name="Class">
							<option value="0">wähle deine Klasse</option>
						</select>
					</div>
					<div class="field-container">
						@Html.TextAreaFor(m => m.AboutMe, new {@placeholder = "Dein Lernmotto", @maxlength = "140", @class="border-bottom"})
					</div>
					<div class="field-container">
						@Html.TextBoxFor(m => m.FacebookUrl, new {@placeholder = "Url zu deinem Facebook Profil"})
						@Html.TextBoxFor(m => m.GooglePlusUrl, new {@placeholder = "Url zu deinem Google+ Profil"})
						@Html.TextBoxFor(m => m.TwitterUrl, new {@placeholder = "Url zu deinem Twitter Profil"})
						@Html.TextBoxFor(m => m.InstagramUrl, new {@placeholder = "Url zu deinem Instagram Profil"})
						@Html.TextBoxFor(m => m.PinterestUrl, new {@placeholder = "Url zu deinem Pinterest Profil"})
					</div>
					<div class="field-container desktop">
						<input type="submit" value="Absenden" onclick=" return validateProfileForm(); " style="margin-bottom: 15px;"/><br/>
						oder<br/>
						@Html.ActionLink("Abbrechen und zurück zum Profil", "Index", "Profile")
					</div>
				</article>
				<footer class="submit mobile">
					<input type="submit" value="Absenden"  onclick=" return validateProfileForm(); " />
				</footer>
			}
		}
	</section>
</div>