@inherits Talentify.ORM.Mvc.FormView<Talentify.ORM.DAL.Models.User.Student>

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script>
	var mySchoolId = 0;
	$(this).ready(function ()
	{
		setClassDropdown('SchoolId', 'Class', @Model.Class);
		$('#ParentEducation').val('@Model.ParentEducation');

		$('#SchoolId').change(function()
		{
			setClassDropdown('SchoolId', 'Class', 0);
		});

		@if (!string.IsNullOrEmpty(Model.Gender))
		{
			<text>$('#Gender').val('@Model.Gender');</text>
		}

		@if (!string.IsNullOrEmpty(Model.Country) && Model.Country.Length == 2)
		{
			<text>$('#Country').val('@Model.Country');</text>
		}

		@if (!HasSchool)
		{
			<text>$('#SchoolId').val('0');</text>
		}
		else 
		{
			<text>mySchoolId = </text>@(@Model.SchoolId)<text>;</text>
		}

		$('#RegisterCode').hide();
		$('#no-school-info').hide();
		$('#register-code-info').hide();
		setSchoolFields();

		$('#SchoolId').change(function ()
		{
			setSchoolFields();
		});
	});

	function setSchoolFields()
	{
		var schoolField = $('#SchoolId');
		if ($(schoolField).val().length == 0 || $(schoolField).val() == mySchoolId)
		{
			$('#RegisterCode').removeClass('mandatory');
			$('#NewSchool').removeClass('mandatory');
			$('#RegisterCode').hide();
			$('#no-school-info').hide();
			$('#register-code-info').hide();

		}
		else if ($(schoolField).val().length > 0 && $(schoolField).val() != "0")
		{
			$('#RegisterCode').addClass('mandatory');
			$('#NewSchool').removeClass('mandatory');
			$('#RegisterCode').show();
			$('#no-school-info').hide();
			$('#register-code-info').show();
		}
		else
		{
			$('#RegisterCode').removeClass('mandatory');
			$('#NewSchool').addClass('mandatory');
			$('#RegisterCode').hide();
			$('#no-school-info').show();
			$('#register-code-info').hide();
		}
	}
</script>

<div id="page-container" class="form">
	<section>
		<article>
			<header>
				<div class="bubble t-button desktop" id="bubble-register"></div>
				<h2>Deine Daten</h2>
			</header>
		</article>
		<article class="msg-container" id="msg-container">
			<div id="msg-error" class="msg error"><h2>Fehler beim Speichern</h2><p></p></div>
			<div id="msg-success" class="msg success">
				<h2>Dein Profil wurde erfolgreich aktualisiert.</h2>
				<p>@Html.ActionLink("Hier", "Index", "Profile") geht's zu deinem aktualisierten Profil.</p>
			</div>
		</article>
		@if (FormSuccess == null)
		{
			using (Html.BeginForm("Edit", "Profile", FormMethod.Post, new {@class = "form-container register"}))
			{
				@Html.HiddenFor(m => m.Id)
				@Html.HiddenFor(m => m.SettingsId)
				@Html.HiddenFor(m => m.HeardOfTalentify)
				@Html.HiddenFor(m => m.IsParentAccount)
				<input type="hidden" name="OldSchoolId" value="@ViewBag.OldSchoolId"/>
				<article id="profile-form">
					<div class="field-container">
						<span>
							@if (Model.IsParentAccount)
							{
								<text>Ich bin ein Elternteil</text>
							}
							else
							{
								<text>Ich bin SchülerIn (ab 13 Jahre)</text>
							}
						</span>
					</div>
					<div class="field-container">
						<h4>Kontaktinfos</h4>
						@Html.TextBoxFor(m => m.Firstname, new {@placeholder = "Vorname", @class = "mandatory"})
						@Html.TextBoxFor(m => m.Surname, new {@placeholder = "Nachname", @class = "mandatory"})
						@Html.TextBoxFor(m => m.Email, new {@placeholder = "E-Mail Adresse", @class = "mandatory"})
						@Html.TextBoxFor(m => m.Address, new {@placeholder = "Adresse"})
						@Html.TextBoxFor(m => m.ZipCode, new {@placeholder = "PLZ"})
						@Html.TextBoxFor(m => m.City, new {@placeholder = "Ort"})
						<select name="Country" id="Country">
							<option value="">Land auswählen</option>
							<option value="AT">Österreich</option>
						</select>
						@Html.TextBoxFor(m => m.Phone, new {@placeholder = "Telefon (Mobilnummer)"})
						@Html.TextBoxFor(m => m.FirstnameChild, new {@placeholder = "Vorname des Kindes"})
					</div>
					<div class="field-container">
						<h4>Schulinfos </h4>
						<select name="Gender" id="Gender" class="border-bottom">
							<option>Geschlecht wählen</option>
							<option value="F">Weiblich</option>
							<option value="M">Männlich</option>
						</select>
						<div class="datepicker">
							<label>Geburtsdatum</label>
							@Html.DatePicker("birthday", false, Model.BirthDate)
						</div>
						@Html.DropDownListFor(model => model.SchoolId, AllSchoolsEdit, "wähle deine Schule...", new { @class = "mandatory" })
						<input type="text" id="RegisterCode" name="RegisterCode" placeholder="Registrierungscode eingeben" style="margin-bottom: 5px;"/>
						<span id="no-school-info" style="margin: 0 0 10px 0;">
							<input type="text" name="NewSchool" id="NewSchool" placeholder="Auf welche Schule gehst du?" style="margin-bottom: 5px;"/>
							Du findest deine Schule nicht in der Liste? Kein Problem. Sag uns einfach auf welche Schule du gehst. Sobald wir mind. 10 Anmeldungen von deiner Schule haben, schalten wir diese frei. Du kannst dich in der Zwischenzeit trotzdem anmelden und Workshops besuchen ;)
						</span>
						<span id="register-code-info" style="margin: 0 0 10px 0;">Du hast noch keinen Registrierungscode und gehst auf eine der aufgelisteten Schulen? Dann schicke uns bitte einfach ein E-Mail mit einem Foto deines Schülerausweis an <a href="mailto:hallo@talentify.at">hallo@talentify.at</a> oder frage direkt an deiner Schule nach.</span>
						<select id="Class" name="Class">
							<option value="0">wähle deine Klasse</option>
						</select>
					</div>
					<div class="field-container">
						@Html.TextAreaFor(m => m.AboutMe, new {@placeholder = "Dein Lernmotto", @maxlength = "140", @class="border-bottom"})
					</div>
					@if (!Model.IsParentAccount)
					{
						<div class="field-container">
							@Html.TextBoxFor(m => m.FacebookUrl, new {@placeholder = "Url zu deinem Facebook Profil"})
							@Html.TextBoxFor(m => m.GooglePlusUrl, new {@placeholder = "Url zu deinem Google+ Profil"})
							@Html.TextBoxFor(m => m.TwitterUrl, new {@placeholder = "Url zu deinem Twitter Profil"})
							@Html.TextBoxFor(m => m.InstagramUrl, new {@placeholder = "Url zu deinem Instagram Profil"})
							@Html.TextBoxFor(m => m.PinterestUrl, new {@placeholder = "Url zu deinem Pinterest Profil"})
						</div>
					}
					<div class="field-container">
						<label style="font-size: 16px;">
							@if (Model.IsParentAccount)
							{
								<text>Was ist die höchste Ausbildung der Eltern?</text>
							}
							else
							{
								<text>Was ist die höchste Ausbildung deiner Eltern?</text>
							}
						</label>
						<select name="ParentEducation" id="ParentEducation" class="mandatory" style="margin: 10px 0 0 0;">
							<option value="">Bitte auswählen</option>
							<option value="Pflichtschule">Pflichtschule</option>
							<option value="Lehre">Lehre</option>
							<option value="Matura">Matura</option>
							<option value="Studium">Studium</option>
						</select>
					</div>
					<div class="field-container desktop">
						<input type="submit" value="Absenden" onclick=" return validateProfileForm(); " style="margin-bottom: 15px;"/><br/>
						oder<br/>
						@Html.ActionLink("Abbrechen und zurück zum Profil", "Index", "Profile")
					</div>
				</article>
				<footer class="submit mobile">
					<input type="submit" value="Absenden"  onclick=" return validateProfileForm(); " />
				</footer>
			}
		}
	</section>
</div>