@model Talentify.ORM.FrontendLogic.Models.Talentometer

@{
	var percentageString = Model.PercentFinished > 14 ? Model.PercentFinished.ToString() + "%" : string.Empty;
	var headline = (LoggedUser.Id == Convert.ToInt32(ViewBag.UserId)) ? "Mein Talentometer Level:" : "Talentometer Level:";
}

<h3>@headline</h3>
<div class="points">
	<h4>@Model.Points</h4>
	<p>Bonuspunkte<br/>(@Model.PointsToNextLevel Punkte bis zum nächsten Level)</p>
</div>
<div class="bar">
	<div class="left" style="width:@Model.PercentFinished%;"><span>@(@percentageString)</span></div>
	<div class="right" style="width:@Model.PercentOpen%;"></div>
</div>
<div class="bar-labels">
	<div class="left">@Model.CurrentLevel.Name</div>
	<div class="right">@Model.NextLevel.Name</div>
</div>