@inherits Talentify.ORM.Mvc.FormView<Talentify.ORM.DAL.Models.User.Student>

@{
	var inviteToken = Request["token"] ?? string.Empty;
}

<script>
	$(this).ready(function ()
	{
		$('.add-field').find('a').each(function ()
		{
			$(this).opentip($(this).attr('data-add-tipp'), {
				extends: "alert",
				color: "#000000",
				background: "#ffffff",
				shadow: true,
				borderColor: "#e5e5e5",
				tipJoint: "bottom",
				target: true,
				hideOn: "mouseout",
				hideTriggers: ["target", "tip"]
			});
		});

		$("#SchoolId").val($("#SchoolId option:first").val());
		$('#FirstnameChild').hide();
		$('#RegisterCode').hide();
		$('#no-school-info').hide();
		$('#register-code-info').hide();
		$('#SchoolId').change(function ()
		{
			if ($(this).val().length > 0 && $(this).val() != "0")
			{
				$('#RegisterCode').addClass('mandatory');
				$('#NewSchool').removeClass('mandatory');
				$('#RegisterCode').show();
				$('#no-school-info').hide();
				$('#register-code-info').show();
			}
			else
			{
				$('#RegisterCode').removeClass('mandatory');
				$('#NewSchool').addClass('mandatory');
				$('#RegisterCode').hide();
				$('#no-school-info').show();
				$('#register-code-info').hide();
			}
		});

		@if (Model.IsParentAccount)
		{
			<text>setFields(true);$('#IsParentAccountTrue').attr('checked', 'checked');</text>
		}
	});

	function loadAgb()
	{
		$('#agb-frame').attr('src', '/Register/Agb');
		$('#modal-agb').modal('show');
	}

	function setFields(isParentRegistration)
	{
		if (isParentRegistration)
		{
			$('#FirstnameChild').show();
			$("#SchoolId").val($("#SchoolId option:first").text('wähle die Schule deines Kindes'));
			$("#SchoolId").val($("#SchoolId option:first").val());
		}
		else
		{
			$('#FirstnameChild').hide();
			$("#SchoolId").val($("#SchoolId option:first").text('Wähle deine Schule...'));
			$("#SchoolId").val($("#SchoolId option:first").val());
		}
	}
</script>

<p style="font-size: 16px;margin-bottom: 40px;">Die Anmeldung dauert nur wenige Sekunden und ist ab 13 Jahren direkt als SchülerIn oder sonst als Elternteil möglich. talentify.me befindet sich gerade in einer Testphase, sollte deine Schule nicht dabei sein - kein Problem: gib uns einfach kurz Bescheid. Du kannst dich auf jeden Fall registrieren und Workshops besuchen.</p>

@using (Html.BeginForm("Index", "Register", FormMethod.Post, new {@class = "form-container register"}))
{
	<input type="hidden" name="token" value="@inviteToken" />
	<article id="register-form">
		<div class="field-container">
			<input type="radio" value="false" name="IsParentAccount" id="IsParentAccountFalse" checked onclick="setFields(false);"/><label for="IsParentAccountFalse">Ich bin SchülerIn (ab 13 Jahre)</label>
			<input type="radio" value="true" name="IsParentAccount" id="IsParentAccountTrue" onclick="setFields(true);" /><label for="IsParentAccountTrue">Ich bin ein Elternteil</label>
		</div>
		<div class="field-container">
			@Html.TextBoxFor(m => m.Firstname, new {@placeholder = "Vorname", @class = "mandatory"})
			@Html.TextBoxFor(m => m.Surname, new {@placeholder = "Nachname", @class = "mandatory border-bottom"})
			<input type="text" name="FirstnameChild" id="FirstnameChild" placeholder="Vorname des Kindes" style="border-top:0;" value="@Model.FirstnameChild"/>
		</div>
		<div class="field-container">
			@Html.TextBoxFor(m => m.Email, new {@placeholder = "E-Mail Adresse", @class = "mandatory"})
			@Html.PasswordFor(m => m.Password, new {@placeholder = "Passwort (mind. 6 Zeichen)", @class = "mandatory"})
		</div>
		<div class="field-container">
			@Html.DropDownListFor(model => model.SchoolId, AllSchoolsRegister, "wähle deine Schule...", new { @class = "mandatory" })<br/>
			<!--<div class="add-field"><a href="javascript:void(0);" onclick="loadAddSchoolForm()" data-add-tipp="Du hast deine Schule nicht gefunden? Hilf uns weiter und gib uns Bescheid.">+</a></div>-->
			<input type="text" id="RegisterCode" name="RegisterCode" placeholder="Registrierungscode eingeben" style="border-top: 0px;"/>
			<span id="no-school-info">
				<input type="text" name="NewSchool" id="NewSchool" placeholder="Auf welche Schule gehst du?"/>
				Du findest deine Schule nicht in der Liste? Kein Problem. Sag uns einfach auf welche Schule du gehst. Sobald wir mind. 10 Anmeldungen von deiner Schule haben, schalten wir diese frei. Du kannst dich in der Zwischenzeit trotzdem anmelden und Workshops besuchen ;)
			</span>
			<span id="register-code-info">Du hast noch keinen Registrierungscode und gehst auf eine der aufgelisteten Schulen? Dann schicke uns bitte einfach ein E-Mail mit einem Foto deines Schülerausweis an <a href="mailto:hallo@talentify.at">hallo@talentify.at</a> oder frage direkt an deiner Schule nach.</span>
		</div>
		<div class="field-container">
			<p>Ich bestätige, die <a href="javascript:void(0);" onclick="loadAgb()">AGB</a> gelesen zu haben und aktzeptiere diese.</p>
		</div>
		<div class="field-container desktop">
			<input type="submit" value="Absenden" onclick=" return validateRegisterForm(); "/>
		</div>
	</article>
	<footer class="submit mobile">
		<input type="submit" value="Absenden"  onclick=" return validateRegisterForm(); " />
	</footer>
}

<div class="modal fade" id="modal-add-school" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" style="display:none;">
	<div class="modal-dialog">
	<header>
		<h1>Deine Schule nicht gefunden?<a href="javascript:void(0);" onclick="$('#modal-add-school').modal('hide');" class="close-link"></a></h1>
	</header>
	<iframe id="add-school-frame" width="600" height="200" scrolling="no"></iframe>
	</div>
</div>

<div class="modal fade" id="modal-agb" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" style="display:none;">
  <div class="modal-dialog">
	<header>
		<h1>AGB<a href="javascript:void(0);" onclick="$('#modal-agb').modal('hide');" class="close-link"></a></h1>
	</header>
	<iframe id="agb-frame" width="600" height="500" scrolling="no"></iframe>
  </div>
</div>
