@model IEnumerable<Talentify.ORM.DAL.Models.Content.Event>

<script>
	$(this).ready(function()
	{
		$('#home-events > .item').mouseenter(function ()
		{
			$(this).find('.details').slideDown('fast');
		});

		$('#home-events > .item').mouseleave(function ()
		{
			$(this).find('.details').slideUp('fast');
		});
	});
</script>

@foreach (var item in Model)
{
	<div class="item">
		<img src="@(@ContentUploadUrl)@(@item.HomeImage)" alt="" class="prev-img"/>
		<div class="details" onclick="location.href='@item.Link';">
			<h3>@Html.Raw(item.Title)</h3>
			<p class="date">@item.BeginDate.ToString("dd.MM.yyyy") | @item.BeginTime - @item.EndTime</p>
			@Html.Raw(item.Content.Substring(0, 105))...
		</div>
	</div>
}