@model IEnumerable<Talentify.ORM.DAL.Models.Content.Event>

<script>
	$(this).ready(function()
	{
		initAcademyHover();
	});
</script>
@{
	var i = 0;
}
@foreach (var item in Model)
{
	var hiddenTag = i == 0 ? string.Empty : "hidden-xs";
	var hiddenMedium = i == 2 ? "hidden-sm" : string.Empty;
	<div class="hover @hiddenTag @hiddenMedium col-xs-12 col-sm-6 col-md-4 no-gutter">
			<div class="caption" onclick="location.href='@item.Link';" style="cursor: pointer;">
				<h3>@Html.Raw(item.Title)</h3>
				<p>@item.BeginDate.ToString("dd.MM.yyyy") | @item.BeginTime - @item.EndTime</p>
				<p>@Html.Raw(item.Content.Substring(0, 75))...</p>
			</div>
		<img src="@(@ContentUploadUrl)@(@item.HomeImage)" alt="Academy News"/>
	</div>

	i++;
}