@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section CustomJavascript 
{
	<script>
		hasWaypoints = true;

		$(function ()
		{
			$('a[href*=#]:not([href=#])').click(function ()
			{
				if (location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') && location.hostname == this.hostname)
				{
					var target = $(this.hash);
					target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
					if (target.length)
					{
						$('html,body').animate({
							scrollTop: target.offset().top - topMargin + 21
						}, 1000);
						return false;
					}
				}
			});
		});
	</script>
}

<nav id="home-nav" class="desktop">
	<ul>
		<li><a id="nav-fact1" href="#fact1"><span>Lernhilfe finden</span></a></li>
		<li><a id="nav-fact2" href="#fact2"><span>Lernhilfe anbieten</span></a></li>
		<li><a id="nav-fact3" href="#fact3"><span>Events besuchen</span></a></li>
	</ul>
</nav>
	
<div id="page-container" class="full-width">
	<h1><span>Die einzigartige und nachhaltige Lernhilfe -</span><br/><span>von Schüler/innen für Schüler/innen</span></h1>
	<section class="home" id="fact1">
		<div class="big-bg" id="bg1">
			<p>Schnell & einfach</p>
			<div class="label">Lernhilfe finden</div>
		</div>
		<article>
			<form action="/Register" class="form-container search" method="get">
				<div class="field-container">
					@Html.DropDownList("AllClasses")
					@Html.DropDownList("AllCoachingSubjects")
					<input type="button" value="Finden" onclick="location.href='/Register'">
				</div>
			</form>
			<p class="register-link-container">@Html.ActionLink("Jetzt anmelden", "Index", "Register")</p>
		</article>
	</section>
	<section class="home" id="fact2">
		<div class="big-bg" id="bg2">
			<p>Überall & Sofort</p>
			<div class="label">Lernhilfe anbieten</div>
		</div>
		<article>
			<form action="/Register" class="form-container search" method="get">
				<div class="field-container">
					@Html.DropDownList("AllClasses")
					@Html.DropDownList("AllCoachingSubjects")
					<input type="button" value="Hinzufügen" onclick="location.href = '/Register'">
				</div>
			</form>
			<p class="register-link-container">@Html.ActionLink("Jetzt anmelden", "Index", "Register")</p>
		</article>
	</section>
	<section class="home" id="fact3">
		<div class="big-bg" id="bg3">
			<p>+</p>
			<div class="label">Events besuchen</div>
		</div>
		<article>
			<input type="button" value="Jetzt anmelden" onclick="location.href = '/Register'">
		</article>
	</section>
	<footer class="mobile submit cols2">
		@Html.ActionLink("Jetzt anmelden", "Index", "Register", null, new { @class = "link-button"})<a href="javascript:void(0);" class="link-button">Einloggen</a>
	</footer>
</div>