@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section CustomJavascript 
{
	<script>
		hasWaypoints = true;
		$(this).ready(function()
		{
			loadHomeEvents();
		});

		$(function ()
		{
			$('a[href*=#]:not([href=#])').click(function ()
			{
				if (location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') && location.hostname == this.hostname)
				{
					var target = $(this.hash);
					target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
					if (target.length)
					{
						$('html,body').animate({
							scrollTop: target.offset().top - topMargin + 21
						}, 1000);
						return false;
					}
				}
			});
		});
	</script>
}

@section CustomAfterBody 
{
	<div id="fb-root"></div>
	<script>(function (d, s, id)
	{
		var js, fjs = d.getElementsByTagName(s)[0];
		if (d.getElementById(id)) return;
		js = d.createElement(s); js.id = id;
		js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&appId=685063364892421&version=v2.0";
		fjs.parentNode.insertBefore(js, fjs);
	}(document, 'script', 'facebook-jssdk'));</script>
}

<nav id="home-nav" class="desktop">
	<ul>
		<li><a id="nav-fact1" href="#fact1"><span>Lernhilfe finden</span></a></li>
		<li><a id="nav-fact2" href="#fact2"><span>Lernhilfe anbieten</span></a></li>
		<li><a id="nav-fact3" href="#fact3"><span>Events besuchen</span></a></li>
	</ul>
</nav>
	
<div id="page-container" class="full-width">
	<h1><span>Die einzigartige und nachhaltige Lernhilfe -</span><br/><span>von SchülerInnen für SchülerInnen</span></h1>
	<section class="home" id="fact1">
		<div class="big-bg" id="bg1">
			<p>Schnell & Einfach</p>
			<span class="small">Finde jetzt SchülerInnen, die dir beim Lernen für den Nachzipf,<br/>eine Schularbeit und einfach mal zwischendurch helfen.</span>
			<div class="label">Lernhilfe finden</div>
		</div>
		<article>
			<form action="/Register" class="form-container search" method="get">
				<div class="field-container">
					<select style="width:252px;margin-right: 5px;">
						<option value="">Schulstufe auswählen</option>
						<optgroup label="Volksschule">
							<option value="1">1. Klasse</option>
							<option value="2">2. Klasse</option>
							<option value="3">3. Klasse</option>
							<option value="4">4. Klasse</option>
						</optgroup>
						<optgroup label="Mittelschule (HS, NMS, Unterstufe)">
							<option value="5">1. Klasse</option>
							<option value="6">2. Klasse</option>
							<option value="7">3. Klasse</option>
							<option value="8">4. Klasse</option>
						</optgroup>
						<optgroup label="Höhere Schule (HTL, HAK, Oberstufe, ...)">
							<option value="9">1./5. Klasse</option>
							<option value="10">2./6. Klasse</option>
							<option value="11">3./7. Klasse</option>
							<option value="12">4./8. Klasse</option>
							<option value="13">5. Klasse</option>
						</optgroup>
					</select>
					@Html.DropDownList("AllCoachingSubjects")
					<input type="button" value="Finden" onclick="location.href='/Register'">
				</div>
			</form>
			<p class="register-link-container">@Html.ActionLink("Jetzt anmelden", "Index", "Register")</p>
		</article>
	</section>
	<section class="home" id="fact2">
		<div class="big-bg" id="bg2">
			<p>Überall & Sofort</p>
			<span class="small">Deine Stärken liegen in Mathe, Deutsch oder Bio? Super! Nutze dein Talent<br/>und unterstütze deine jüngeren MitschülerInnen beim Lernen.</span>
			<div class="label">Lernhilfe anbieten</div>
		</div>
		<article>
			<form action="/Register" class="form-container search" method="get">
				<div class="field-container">
					<select style="width:252px;margin-right: 5px;">
						<option value="">Schulstufe auswählen</option>
						<optgroup label="Volksschule">
							<option value="1">1. Klasse</option>
							<option value="2">2. Klasse</option>
							<option value="3">3. Klasse</option>
							<option value="4">4. Klasse</option>
						</optgroup>
						<optgroup label="Mittelschule (HS, NMS, Unterstufe)">
							<option value="5">1. Klasse</option>
							<option value="6">2. Klasse</option>
							<option value="7">3. Klasse</option>
							<option value="8">4. Klasse</option>
						</optgroup>
						<optgroup label="Höhere Schule (HTL, HAK, Oberstufe, ...)">
							<option value="9">1./5. Klasse</option>
							<option value="10">2./6. Klasse</option>
							<option value="11">3./7. Klasse</option>
							<option value="12">4./8. Klasse</option>
							<option value="13">5. Klasse</option>
						</optgroup>
					</select>
					@Html.DropDownList("AllCoachingSubjects")
					<input type="button" value="Hinzufügen" onclick="location.href = '/Register'">
				</div>
			</form>
			<p class="register-link-container">@Html.ActionLink("Jetzt anmelden", "Index", "Register")</p>
		</article>
	</section>
	<section class="home" id="fact3">
		<div class="big-bg events" id="bg3">
			<p>Einen Schritt voraus</p>
			<span class="small">Im Berufsalltag entscheidend und trotzdem nicht am Lehrplan?<br/>In diesen Workshops könnt ihr euch Skills aneignen,<br />auf die es im Leben wirklich ankommt.</span>
			<div id="home-events-loading">Lade Events ...</div>
			<div id="home-events"></div>
			<div class="label" style="position: static;">Events besuchen</div>
		</div>
		<article>
			<input type="button" value="Jetzt anmelden" onclick="location.href = '/Register'">
		</article>
	</section>
	<section class="home teaser">
		<article>
			<h3>Registrierung für LehrerInnen</h3>
			<a href="/Register/Teacher"><img src="/Images/teaser-teacher.png"/></a>
		</article>
		<article>
			<h3>Zur talentify Website</h3>
			<a href="http://www.talentify.co" target="_blank"><img src="/Images/teaser-talentify.jpg"/></a>
		</article>
		<article>
			<h3>Folge talentify auf Facebook</h3><div class="fb-like-box" data-href="https://www.facebook.com/talentify.at" data-width="355" data-height="200" data-colorscheme="light" data-show-faces="true" data-header="false" data-stream="false" data-show-border="true"></div>
		</article>
	</section>
	<footer class="mobile submit cols2">
		@Html.ActionLink("Jetzt anmelden", "Index", "Register", null, new { @class = "link-button"})<a href="javascript:void(0);" class="link-button">Einloggen</a>
	</footer>
</div>