@model Talentify.ORM.DAL.Models.Content.Event

@{
	var registeredEvents = ViewBag.RegisteredIds as List<int>;
	var isUserRegistered = (registeredEvents != null) && registeredEvents.Contains(Model.Id);
	var cssClass = Model.BeginDate < DateTime.Now ? "past" : string.Empty;
	if (isUserRegistered)
	{
		cssClass += " registered";
	}
	var linkText = (Model.BeginDate < DateTime.Now || isUserRegistered) ? "Details anzeigen" : "Hier geht's zur Anmeldung";
}

<article class="event-preview @cssClass" onclick="location.href='/Events/Detail/@Model.Id'">
	<div class="register-icon"><img src="/Images/icon-event-register.png"/></div>
	<a href="/Events/Detail/@Model.Id"><img src="@(@ContentUploadUrl)@(@Model.PreviewImage)" alt="" class="prev-img"/></a>
	<h3>@Html.Raw(Model.Title)</h3>
	@Model.BeginDate.ToString("dd.MM.yyyy") | @Model.BeginTime - @Model.EndTime
	<p>@Html.Raw(Model.Content.Substring(0, 105))...</p>
	<a href="/Events/Detail/@Model.Id">@linkText</a>
</article>	
