@using System.Activities.Statements
@using System.Web.UI.WebControls
@model Talentify.ORM.DAL.Models.User.Student

<script>
	$(this).ready(function()
	{
		var coachingEnabled = 'on';
		@if (!Model.IsCoachingEnabled)
		{
			<text>coachingEnabled = 'off';</text>
		}

		@if (!Model.IsCoachingEnabled)
		{
			<text>$('.lernhilfe-enabled').hide();</text>
		}

		$('#enable-coaching').addClass(coachingEnabled);
		$('#profileUpload').mouseover(function() { $('.profile-upload-edit').show(); });
		$('#profileUpload').mouseout(function() { $('.profile-upload-edit').hide(); });
		$('#profile-upload-form').mouseout(function() { $('.profile-upload-edit').hide(); });
		$('.profile-upload-edit').mouseover(function () { $('.profile-upload-edit').show(); });
		loadMyProfileCoachings(true, @LoggedUser.Id);
		setProfileCoachingPrice(@Model.CoachingPrice.ToString().Replace(",", "."));
		loadTalentometer(@LoggedUser.Id);
		loadBadges(@LoggedUser.Id);
	});

	function setProfileCoachingPrice(price)
	{
		if (price > 0)
		{
			$('#link-edit-price').html(price.toFixed(0) + " €");
			$('#link-edit-price').css('padding', '8px 0');
			$('#link-edit-price').css('width', 113);
			$('#link-edit-price').css('text-align', 'center');
		}
		else
		{
			$('#link-edit-price').html('kostenlos');
		}
	}
</script>


<section class="user-profile">
	<article class="my-profile">
		<div class="left">
			<div class="profile-upload" id="profile-upload">
				@using (Html.BeginForm("ImageUpload", "Profile", FormMethod.Post, new { @id = "profile-upload-form", @enctype = "multipart/form-data" }))
				{
					<img src="@Model.ProfileImageLarge" alt="Neues Bild hochladen" class="profile-img" id="profile-img-edit"/>
					<div class="profile-upload-edit"><span>Neues Bild auswählen</span></div>
					<input type="file" id="profileUpload" name="profileUpload" onchange="$('#profile-upload-form').submit();">
				}
			</div>
			<div id="profile-complete-bar">
				<p>Dein Profil ist zu @(@ViewBag.CompletionCount)% vollständig</p>
				<div class="bar">
					<div class="left" style="width:@(@ViewBag.CompletionCount)%;"></div>
					@if (ViewBag.CompletionCount < 100)
					{
						<div class="right" style="width:@(@ViewBag.CompletionCountFull)%;"></div>
					}
				</div>
				@if (ViewBag.CompletionCount < 100)
				{
					@Html.ActionLink("Jetzt Profil vervollständigen", "Edit")
				}
			</div>
		</div>
		<div class="right">
			<h3>
				@Model.Firstname @Model.Surname
				<span class="social-profiles">
					@if (!string.IsNullOrEmpty(Model.FacebookUrl))
					{
						<a href="@Model.FacebookUrl" title="facebook Profil" target="_blank" onmouseover="hoverImage('icon-profile-fb');" onmouseout="hoverImage('icon-profile-fb');"><img src="/Images/icon-profile-fb.png" id="icon-profile-fb" alt="facebook Profil"/></a>
					}
					@if (!string.IsNullOrEmpty(Model.GooglePlusUrl))
					{
						<a href="@Model.GooglePlusUrl" title="Google+ Profil" target="_blank" onmouseover="hoverImage('icon-profile-google');" onmouseout="hoverImage('icon-profile-google');"><img src="/Images/icon-profile-google.png" id="icon-profile-google" alt="Google+ Profil"/></a>
					}
					@if (!string.IsNullOrEmpty(Model.TwitterUrl))
					{
						<a href="@Model.TwitterUrl" title="twitter Profil" target="_blank" onmouseover="hoverImage('icon-profile-twitter');" onmouseout="hoverImage('icon-profile-twitter');"><img src="/Images/icon-profile-twitter.png" id="icon-profile-twitter" alt="twitter Profil"/></a>
					}
					@if (!string.IsNullOrEmpty(Model.InstagramUrl))
					{
						<a href="@Model.InstagramUrl" title="Instagram Profil" target="_blank" onmouseover="hoverImage('icon-profile-instagram');" onmouseout="hoverImage('icon-profile-instagram');"><img src="/Images/icon-profile-instagram.png" id="icon-profile-instagram" alt="Instagram Profil"/></a>
					}
					@if (!string.IsNullOrEmpty(Model.PinterestUrl))
					{
						<a href="@Model.PinterestUrl" title="Pinterest Profil" target="_blank" onmouseover="hoverImage('icon-profile-pinterest');" onmouseout="hoverImage('icon-profile-pinterest');"><img src="/Images/icon-profile-pinterest.png" id="icon-profile-pinterest" alt="Pinterest Profil"/></a>
					}
				</span>
			</h3>
			<div class="content-part">
				@if (HasSchool)
				{
					@Html.Raw(Model.School.ZipCode + " - " + Model.School.City + "<br/>");
					@(@Model.School.Name)
					if (Model.Class != 0)
					{	
						<span>, @(@Model.Class). Klasse</span>
					}
				}
			</div>
			<div class="form-view">
				<div class="row"><label>E-Mail:</label><span>@Model.Email</span></div>
				<div class="row">
					<label>Geburtstag:</label>@if (Model.BirthDate.HasValue)
							   {<span>@Model.BirthDate.Value.ToString("dd.MM.yyyy")</span>}
							   else
							   {<span>-</span>}
				</div>
				<div class="row">
					<label>Adresse:</label>@if (!string.IsNullOrEmpty(Model.Address))
							{<span>@Model.FormattedAddress</span>}
							else
							{<span>-</span>}
				</div>
			</div>
			<div class="form-view">
				<div class="row">
					<label class="important">Dein Lernmotto:</label>
					@if (!string.IsNullOrEmpty(Model.AboutMe))
					{
						<span>@Model.AboutMe</span>
					}
					else
					{
						<span>-</span>
					}
				</div>
			</div>
			@if (!Model.IsParentAccount)
			{
				<div class="form-view no-border">
					<div class="row">
						<label class="for-input" style="vertical-align:top;">Lernhilfe anbieten:</label>
						<div class="input-switch" id="enable-coaching">
							@if (HasSchool)
							{
								<a href="javascript:void(0);" onclick="setCoachingEnabled()" class="switch-link"></a>
							}
							else
							{
								<a href="javascript:void(0);" onclick="loadNoSchoolPopup()" class="switch-link"></a>
							}
							<div class="option on">Ja</div>
							<div class="option off">Nein</div>
						</div><div class="input-switch-feedback" id="enable-coaching-feedback">Eingabe gespeichert</div>
					</div>
					<div class="row lernhilfe-enabled">
						<div class="left"><label class="for-input">Gebe Lernhilfe in:</label></div>
						<div class="right">
							<span id="my-offers"></span>
							<a href="javascript:void(0);" class="link-button" onclick="loadAddCoachingForm();">+</a>
						</div>
					</div>
					<div class="row lernhilfe-enabled">
						<label class="for-input">Preis/h:</label>
						<a href="javascript:void(0);" onclick="loadEditPriceForm();" class="link-button" id="link-edit-price"></a>
					</div>
				</div>
			}
		</div>
	</article>
</section>
<section class="achievements">
	<article class="talentometer-container">
		<div id="talentometer"></div>
		<div id="talentometer-loading">Lade Talentometer ...</div>
	</article>
	<article class="badges-container">
		<div id="badges"></div>
		<div id="badges-loading">Lade Badges ...</div>
	</article>
</section>
<input type="button" value="Profil editieren" onclick="location.href='/Profile/Edit';"/>


<div class="modal fade" id="modal-add-coaching" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" style="display:none;">
  <div class="modal-dialog" id="add-coaching-form">
	<header>
		<h1>Lernhilfe hinzufügen<a href="javascript:void(0);" onclick="$('#modal-add-coaching').modal('hide');" class="close-link"></a></h1>
	</header>
	<iframe id="add-coaching-frame" width="600" height="450" scrolling="no"></iframe>
  </div>
</div>

<div class="modal fade" id="modal-edit-coaching" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" style="display:none;">
  <div class="modal-dialog" id="edit-coaching-form">
	<header>
		<h1>Lernhilfe bearbeiten<a href="javascript:void(0);" onclick="$('#modal-edit-coaching').modal('hide');" class="close-link"></a></h1>
	</header>
	<iframe id="edit-coaching-frame" width="600" height="480" scrolling="no"></iframe>
  </div>
</div>

<div class="modal fade" id="modal-edit-price" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" style="display:none;">
  <div class="modal-dialog" id="edit-price-form">
	<header>
		<h1>Preis/h bearbeiten<a href="javascript:void(0);" onclick="$('#modal-edit-price').modal('hide');" class="close-link"></a></h1>
	</header>
	<iframe id="edit-price-frame" width="600" height="150" scrolling="no"></iframe>
  </div>
</div>