@using System.Collections
@using System.Web.UI.WebControls
@using Talentify.ORM.DAL.Models.School
@using Talentify.ORM.FrontendLogic.Models
@inherits Talentify.ORM.Mvc.FormView<Talentify.ORM.FrontendLogic.Models.SearchParams>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
	var schoolInfos = ViewBag.AllSchools as IEnumerable<SchoolInfo>;
	var includeTalentecheckTrackingCode = (IsFirstLogin && ViewBag.IsTalentecheckRegister);
}

@section CustomJavascript 
{
	@if (!IsFirstLogin)
	{
		<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&language=de&libraries=places,geometry" type="text/javascript"></script>
		<script src="/Scripts/markerclusterer_compiled.js" type="text/javascript"></script>
		<script src="/Scripts/maps.js"></script>
		<script>
			latitude = @ViewBag.Latitude;
			longitude = @ViewBag.Longitude;
			google.maps.event.addDomListener(window, 'load', initBackgroundMap);

			@*schoolLatLngs = new Array();
			@foreach (var schoolInfo in schoolInfos)
			{
				if (!string.IsNullOrEmpty(schoolInfo.School.Latitude) && !string.IsNullOrEmpty(schoolInfo.School.Longitude))
				{
					<text>schoolLatLngs.push({name: '@schoolInfo.School.Name', address: '@schoolInfo.School.Address', zipCode: '@schoolInfo.School.ZipCode', city: '@schoolInfo.School.City', website: '@schoolInfo.School.Website', lat: @schoolInfo.School.Latitude, lng: @schoolInfo.School.Longitude, coachingStudentCount: @schoolInfo.CoachingStudentCount, coachingSubjectCount: @schoolInfo.CoachingSubjectCount});</text>
				}
			}*@

			$(this).ready(function()
			{
				@if (Convert.ToBoolean(ViewBag.ShowSurvey))
				{
					<text>loadSurvey();</text>
				}
				loadEvents();
				loadStream();
			});

			function loadSurvey()
			{
				$('#survey-frame').attr('src', '/Start/Survey');
				$('#modal-survey').modal('show');
			}
		</script>
	}
}

@section CustomAfterBody
{
	@if (includeTalentecheckTrackingCode)
	{
		<!-- Google Tag Manager -->
		<noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-57NRFB" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
		<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src='//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);})(window,document,'script','dataLayer','GTM-57NRFB');</script>
		<!-- End Google Tag Manager -->
	}
}

<div class="search-map-container" id="map-container"></div>
<div id="page-container">
	@if (IsFirstLogin)
 {
		@Html.Partial("_FirstLoginOptions")
 }
 else
 {
		<section>
			<h1 class="desktop" style="margin: 0;"><span>Die einzigartige und nachhaltige Lernhilfe -</span><br/><span>von Schüler/innen für Schüler/innen</span></h1>
		</section>
		<section id="start-search">
			<article>
				@using (Html.BeginForm("Index", "Search", FormMethod.Post, new { @class = "form-container search" }))
	{
					<div class="field-container">
						<select name="Class" class="mandatory">
							<option value="">Schulstufe</option>
							<optgroup label="Volksschule">
								<option value="1">1. Klasse</option>
								<option value="2">2. Klasse</option>
								<option value="3">3. Klasse</option>
								<option value="4">4. Klasse</option>
							</optgroup>
							<optgroup label="Mittelschule (HS, NMS, Unterstufe)">
								<option value="5">1. Klasse</option>
								<option value="6">2. Klasse</option>
								<option value="7">3. Klasse</option>
								<option value="8">4. Klasse</option>
							</optgroup>
							<optgroup label="Höhere Schule (HTL, HAK, Oberstufe, ...)">
								<option value="9">1./5. Klasse</option>
								<option value="10">2./6. Klasse</option>
								<option value="11">3./7. Klasse</option>
								<option value="12">4./8. Klasse</option>
								<option value="13">5. Klasse</option>
							</optgroup>
						</select>
						@Html.DropDownListFor(m => m.SubjectCategoryId, AllCoachingSubjects, "Schulfach", new { @class = "mandatory" })
						<input type="submit" value="Lernhilfe Finden" onclick="return validateMandatoryOnlyForm();"/>
						<!--<div class="checkbox-container"><input type="checkbox" name="mySchoolOnly" id="mySchoolOnly"/><label for="mySchoolOnly">Nur nach Lernhilfeangeboten an meiner Schule suchen</label></div>-->
					</div>
	}
				<p>oder<br/><a href="/Profile" class="important">Lernhilfe anbieten</a></p>
			</article>
		</section>
		<section class="two-col-container" id="">
			<div class="col-container">
				<h2>Events</h2>
				<div class="ajax-module" id="events-container"></div>
				<div class="loading-message" id="events-container-loading">Lade Events ...</div>
			</div>
			<div class="col-container">
				<h2>Aktivitäten</h2>
				<div class="ajax-module" id="stream-container"></div>
				<div id="stream-container-load-more"><a href="javascript:void(0);" onclick="loadStream();">Mehr laden</a></div>
				<div class="loading-message" id="stream-container-loading">Lade Stream ...</div>
			</div>
		</section>
	 <div class="modal fade" id="modal-survey" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" style="display:none;">
		<div class="modal-dialog">
		<header>
			<h1>Umfrage<a href="javascript:void(0);" onclick="$('#modal-survey').modal('hide');" class="close-link"></a></h1>
		</header>
		<iframe id="survey-frame" width="600" height="500" scrolling="no"></iframe>
		</div>
	</div>
	}
</div>