@using System.Globalization
@model IEnumerable<Talentify.ORM.FrontendLogic.Models.StreamItem>

@if (Model != null)
{
	foreach (var item in Model)
	{
		<article class="stream-item" onclick="location.href='@item.Link'">
			<a href="@item.Link" class="image-link" style="background-image: url('@item.Image');"></a>
			<p><span class="text">@item.Text</span><span class="date">@item.Time.ToString("g", new CultureInfo("de"))</span></p>
		</article>
	}
}