@model Talentify.ORM.DAL.Models.Content.Event

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="page-container">
	<h1>Neues Event erstellen</h1>
	@using (Html.BeginForm("Create", "Events", FormMethod.Post, new { enctype = "multipart/form-data" }))
	{
		@Html.HiddenFor(m => m.CreatedById)
		@Html.HiddenFor(m => m.Id)
		@Html.HiddenFor(m => m.UpdateById)
		<table>
			<tr>
				<td>@Html.LabelFor(m => m.IsOnline)</td>
				<td>@Html.CheckBoxFor(m => m.IsOnline)</td>
			</tr>
			<tr>
				<td>Typ</td>
				<td>
					<select name="Type" id="Type">
						<option value="0">talentify Academy (Workshops)</option>
						<option value="1">talentify Social Skill Lab</option>
						<option value="2">talentify on Tour</option>
						<option value="3">Eventtipps</option>
					</select>
				</td>
			</tr>
			<tr>
				<td>@Html.LabelFor(m => m.Title)</td>
				<td>@Html.TextBoxFor(m => m.Title)</td>
			</tr>
			<tr>
				<td>@Html.LabelFor(m => m.Headline)</td>
				<td>@Html.TextBoxFor(m => m.Headline)</td>
			</tr>
			<tr>
				<td>@Html.LabelFor(m => m.PreviewImage)</td>
				<td><input type="file" name="uploadPreview" id="PreviewImage"/></td>
			</tr>
			<tr>
				<td>@Html.LabelFor(m => m.Image)</td>
				<td><input type="file" name="uploadImage" id="Image"/></td>
			</tr>
			<tr>
				<td>@Html.LabelFor(m => m.HomeImage)</td>
				<td><input type="file" name="homeImage" id="HomeImage"/></td>
			</tr>
			<tr>
				<td>@Html.LabelFor(m => m.BeginDate)</td>
				<td>@Html.EditorFor(m => m.BeginDate)</td>
			</tr>
			<tr>
				<td>@Html.LabelFor(m => m.BeginTime)</td>
				<td>@Html.EditorFor(m => m.BeginTime)</td>
			</tr>
			<tr>
				<td>@Html.LabelFor(m => m.EndTime)</td>
				<td>@Html.EditorFor(m => m.EndTime)</td>
			</tr>
			<tr>
				<td>@Html.LabelFor(m => m.MaxParticipant)</td>
				<td>@Html.TextBoxFor(m => m.MaxParticipant)</td>
			</tr>
			<tr>
				<td>@Html.LabelFor(m => m.LocationName)</td>
				<td>@Html.TextBoxFor(m => m.LocationName)</td>
			</tr>
			<tr>
				<td>@Html.LabelFor(m => m.Address)</td>
				<td>@Html.TextBoxFor(m => m.Address)</td>
			</tr>
			<tr>
				<td>@Html.LabelFor(m => m.ZipCode)</td>
				<td>@Html.TextBoxFor(m => m.ZipCode)</td>
			</tr>
			<tr>
				<td>@Html.LabelFor(m => m.City)</td>
				<td>@Html.TextBoxFor(m => m.City)</td>
			</tr>
			<tr>
				<td>@Html.LabelFor(m => m.Country)</td>
				<td>@Html.TextBoxFor(m => m.Country)</td>
			</tr>
			<tr>
				<td>@Html.LabelFor(m => m.Latitude)</td>
				<td>@Html.TextBoxFor(m => m.Latitude)</td>
			</tr>
			<tr>
				<td>@Html.LabelFor(m => m.Longitude)</td>
				<td>@Html.TextBoxFor(m => m.Longitude)</td>
			</tr>
			<tr>
				<td>@Html.LabelFor(m => m.Content)</td>
				<td>@Html.TextAreaFor(m => m.Content)</td>
			</tr>
			<tr>
				<td>@Html.LabelFor(m => m.DetailUrl)</td>
				<td>@Html.TextBoxFor(m => m.DetailUrl)</td>
			</tr>
			<tr>
				<td>Bonuspunkte</td>
				<td><input type="number" value="50" name="Bonuspoints" id="Bonuspoints"/></td>
			</tr>
			<tr>
				<td>@Html.LabelFor(m => m.Price)</td>
				<td><input type="number" value="20" name="Price" id="Price"/></td>
			</tr>
			<tr>
				<td>&nbsp;</td>
				<td><input type="submit" value="Speichern"/></td>
			</tr>
		</table>
	}
</div>
